.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  z-index: 12;
  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.wrapper2 {
  flex: auto 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.content {
  flex: auto 0 0;
  max-width: 50vw;
  white-space: pre-wrap;
  padding: 1.6em;
  background-color: #ffcccc;
}

.control {
  text-align: center;
}
