.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1em;

  background-color: rgba(255, 255, 255, 0.8);
}

.filebox {
  border-box: box-sizing;
  margin: 1em;
  padding: 0.4em;
  max-width: 32em;

  background-color: #ffd7d7;

  > div {
    margin: 0.3em 0;
  }

  .filename {
    font-weight: bold;

    b {
      display: inline-block;
      margin: 0 6px;

      color: red;
      font-weight: normal;
    }
  }
  .controls {
    display: flex;
    flex-flow: row nowrap;

    > div {
      flex: auto 0 0;
      margin: 0 8px;
    }

    > div:first-child {
      flex: auto 1 0;
    }
  }
}

.editing {
}

.edit-wrapper {
  display: grid;
  grid-template: auto auto / max-content 1fr;
  grid-gap: 6px;

  input {
    width: stretch;
  }
}
