.wrapper {
  background-color: #444458;
  color: white;

  display: flex;
  padding: 8px;
}

.button {
  margin: 0 0.4em;
  padding: 4px 0.5em;
  transition: background-color ease 0.2s, color ease 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #eeeeff;
  color: black;
}

.active {
  composes: button;

  background-color: #77778e;
}

.separator {
  border-right: 1px solid #9898d9;
}
